<!--Contrato: esse script recebe um formulário 
    com nome de origem e nome do destino de uma viagem 
    Deve mostrar uma mensagem dizendo que houve um erro.
    O script também recebe dois booleanos: "comecado" e "erro" 
    caso o booleano erro seja verdadeiro, deve mostrar uma mensagem
    dizendo que a viagem tem destino ou origem inválido, interrompendo
    aí o fluxo
    Caso o booleano começado seja verdadeiro
    o script deve mostrar uma mensagem dizendo que a viagem foi começada
    com sucesso e mostrar a opção de finalizá-la, ou redirecionar o usuario
    para uma pagina para visualização da viagem
    Argumentos para o script:
    form: formulário com nome de origem e destino da viagem
    comecado: booleano indicando se a viagem foi começada
    erro: booleano indicando se houve um erro 

-->   



