<!--Comentário HTML-->
<!--BASE Interface de Login-->
<!DOCTYPE html>
<html>

<head>
<title>Página do Motorista no MOBI CAMPUS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-green.css">

<style>
html, body, h1, h2, h3, h4, h5
</style>

</head>

<body class="w3-theme-15">

<!--Banner Mobi Campus (Acrescentar Imagem Logo)-->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-right-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Mobi Campus</a>  
  </a>
 </div>
</div>

<!--Form de Input para Login-->
	<!--Botão de input-->
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-bottom:120px">    
	<!-- The Grid -->
  <div class="w3-row">
  
  <!--conteúdo página-->
    <div class="w3-col m7">
      <div class="w3-container w3-white w3-round w3-margin"><br>
        <center>
            <h1> {{user.first_name}} {{user.last_name}}</h1>
            <h1> {{user.usuario.aval}}</h1>
            <a type="button" href="{% url 'viagem' %}"class="w3-button w3-theme-d5 w3-margin-bottom"><i class="fa">Buscar Viagem</a>
            <a type="button" href="{% url 'historico' %}"class="w3-button w3-theme-d5 w3-margin-bottom"><i class="fa">Histórico de Viagem</a>
            {% if motor %}
              <a type="button" href="{% url 'motorista' %}"class="w3-button w3-theme-d5 w3-margin-bottom"><i class="fa">Área do motorista</a> 
            {% endif %}
        </center>
      </div>     
    </div>
  
    <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>

<!-- Footer -->
<footer class="w3-container w3-theme-d5 w3-padding-8">
  <h3>UM SISTEMA EM PARCERIA COM UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL - UFRGS</h3>
  <p>ENGENHARIA DE SOFTWARE N 2022/1 - Projeto Mobi Campus</p>
</footer>

</body>
</html> 