{% load widget_tweaks %}
<!DOCTYPE html>
<html>

<head>
<title>Histórico de Viagens MOBI CAMPUS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-green.css">

<style>
table{
	border-collapse: collapse;
}
.hist{

  border-bottom: 1px solid black;
}
.hist td{
	padding: 10px;
}

th{
	text-align: center;
}
</style>

</head>

<body class="w3-theme-15">

<!--Banner Mobi Campus-->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-right-align w3-large">
  <a class="w3-bar-item w3-left w3-padding-large w3-theme-d4">Mobi Campus</a>  
  <a href="{% url 'login_page' %}" class="w3-bar-item w3-right w3-button w3-padding-large w3-theme-d4">Sair</a> <!--REFERÊNCIA LOGOUT CORRETA?-->
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;margin-bottom:120px">    
	<!-- The Grid -->
  <div class="w3-row">
  
  <!--conteúdo página-->	
	<div class="w3-row-padding">
        <div class="w3-col m12">
          <div style="padding:15px" class="w3-card w3-round w3-white">
		  
		  <div class="w3-container w3-white w3-round w3-margin"><br>			
				<h1> {{user.first_name}} {{user.last_name}}</h1>
				<h1> Rating: {{user.usuario.aval}}</h1>
		  </div> 
		  
		  <table style="width:100%">

				<caption style="padding-bottom: 20px;"><h2>Histórico de Viagens:</h2></caption>

			{% if historico_list%} 
					{% for viagem in historico_list %}
						 
							<tr class="hist" ><td> Rota: {{viagem.rota}}</td>
							<td > Motorista: {{viagem.motorista_id}}</td>
							<td > Origem: {{viagem.origem}}</td>
							<td > Destino: {{viagem.destino}}</td>
							<td > Custo: {{viagem.custo}}</td></tr>
						
						
					{% endfor %}
			{% else %}
				<tr><td> Sem viagens Disponíveis.</td></tr>
			{% endif %}
			</table>
          </div>
        </div>
    </div>
  
    <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>

<!-- Footer -->
<footer class="w3-container w3-theme-d5 w3-padding-8">
  <h3>UM SISTEMA EM PARCERIA COM UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL - UFRGS</h3>
  <p>ENGENHARIA DE SOFTWARE N 2022/1 - Projeto Mobi Campus</p>
</footer>

</body>
</html> 
