<!--Comentário HTML-->
<!--BASE Interface de Login-->
<!DOCTYPE html>
<html>

<head>
<title>HOME - MOBI CAMPUS</title> <!--LOGIN NORMAL-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-light-green.css">

<style>
html, body, h1, h2, h3, h4, h5
</style>

</head>

<body class="w3-theme-15">

<!--Banner Mobi Campus (Acrescentar Imagem Logo)-->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-right-align w3-large">
  <a class="w3-bar-item w3-left w3-padding-large w3-theme-d4">Mobi Campus
	
  </a>  
  <!--imagem logo
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="/mobi-asset1.png" class="w3-circle" style="height:23px;width:23px" alt="Home">
  </a>-->
  <!--Botão sair - trocar href-->
  <a href="#" class="w3-bar-item w3-right w3-button w3-padding-large w3-theme-d4">Sair</a>
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
  
    <!-- Coluna Esquerda -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">NOME DO USUÁRIO</h4> <!--alterar para função que pega nome do usuário-->
         <p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p> <!--ALTERAR PARA IMAGEM DO BANCO DE DADOS QUE O USUÁRIO POSSA ESCOLHER??-->
         <hr>
         <p><i class="w3-margin-right w3-text-theme"></i> ESTUDANTE - info usuário</p>
        </div>		
		<!-- Rating --> 
		<div class="w3-container w3-block w3-white w3-left-align">
          <p>Meu Rating:</p>
          <p>
            <p>MOSTRAR RATING USUÁRIO</p>
          </p>
        </div>		
		
		
		
      </div>
    <!-- Fim da coluna esquerda -->
    </div>
    
    <!-- Coluna central -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
			<!--insere form para nova viagem-->
			
				<form action="/action_page.php" target="_blank"> <!--ALTERAR AÇÃO PARA FUNÇÃO DE SOLICITAÇÃO DE VIAGEM-->
					<h1>Você gostaria de uma carona? </h1>
					<p>Por favor selecione seu local de partida e destino:</p>
					<!--nome dos inputs: partida e destino-->
					<!--Para efeitos de demonstração, mostrar uma lista das nossas origens e destinos válidos-->
					<label for="origem">Origem:</label>
					  <select name="origem" id="origem"> <!--Retornar lista com resultados-->
						<option value="exemploo">ex1</option>
						<option value="exemploo">ex2</option>
						<option value="exemploo">ex3</option>
						<option value="exemploo">ex4</option>
					  </select>
					  <br><br>
					  <label for="destino">Destino:</label> <!--Retornar lista com resultados-->
					  <select name="destino" id="destino">
						<option value="exemplod">ex1</option>
						<option value="exemplod">ex2</option>
						<option value="exemplod">ex3</option>
						<option value="exemplod">ex4</option>
					  </select>
					  <br><br>
					<button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa"></i>  Quero uma carona</button>
				</form>
					  
            </div>
			<div class="w3-card w3-round w3-white">
				<div class="w3-container w3-padding">
					<!-- Accordion -->
					<div class="w3-white">
					  <button onclick="Accordion('listavia')" class="w3-button w3-block w3-theme-l3 w3-left-align"><i class="w3-margin-right"></i> Minhas viagens recentes</button>
						  <div id="listavia" class="w3-hide w3-container">
							<p>LISTAR VIAGENS RECENTES</p>
						  </div>
					  </div>
				</div> 
			</div> 
          </div>
        </div>
      </div>
	  <!--Função para listar caronas?-->
	  
	  
    <!-- Fim coluna central -->
    </div>
    
    <!-- Coluna direita -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Mobi Campus</p>
          <img src="https://independente.com.br/wp-content/uploads//2020/03/ufrgs.jpg" alt="ufrgs" style="width:100%;"> <!--imagem ufrgs-->
          <p><i>Foto: Ramon Moser</i></p>
		  <p>
		  <body onload="startTime()">
		  <div id="txt"></div><!--função para mostrar data hora-->
		  </p>
        </div>
      </div>
      <br>      
    <!-- Fim coluna direita -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d5 w3-padding-8">
  <h3>UM SISTEMA EM PARCERIA COM UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL - UFRGS</h3>
  <p>ENGENHARIA DE SOFTWARE N 2022/1 - Projeto Mobi Campus</p>
</footer>


<script type="text/javascript">
function startTime()
{
	var today=new Date();
	var h=today.getHours();
	var m=today.getMinutes();
	var s=today.getSeconds();
	// add a zero in front of numbers<10
	if (m<10)
	{
		m="0"+m;
	}
	if (h<10)
	{
		h="0"+h;
	}
	if (s<10)
	{
		s="0"+s;
	}
	document.getElementById('txt').innerHTML=h+":"+m+":"+s;
	t=setTimeout('startTime()',500);
}

// Accordion
function Accordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

</script>

</body>
</html> 